@import '~@/css/common';

.message_wrap{
    @extend %clearfix;
    line-height: 1.4;
    margin-bottom: rem(20);
    &::after{
        content: '';
        display:block;
        clear:both;
    }
    .message{
        @extend %clearfix;
        %user{
            @include square(rem(68));
            position: relative;
            margin: 0 rem(5);
            border-radius: 100%;
            background: #3296fa;
            font-size: rem(26);
            color:#fff;
            line-height: rem(68);
            text-align:center;
            &_icon{
                position:absolute;
            }
        }
        %content{
            margin: 0 rem(8);
            padding: rem(14) rem(15);
            border-radius: rem(8);
            background: #abcdef;
        }  
        &.left_message{
            margin-right: 20%;
            text-align: left;
            .user{
                @extend %user;
                float: left;
            }
            .content{
                @extend %content;
                float: left;
                background-color: #eee;
            }
        }
        &.right_message{
            margin-left: 20%;
            text-align: right;
            .user{
                @extend %user;
                float: right;
            }
            .content{
                @extend %content;
                float: right;
                background-color: #c9e7ff;
            }
        }
    }
}