@import '~@/css/common';

.login{
    position: relative;
    width:100%;
    height:100%;
    background: #2980b9;
    overflow: hidden;
    &__sologan{
        display: block;
        @include square(rem(400));
        margin: rem(100) auto;
        margin-bottom: rem(120);
    }
    &__input{
        @include height(rem(90));
        margin-bottom: rem(32);
        &_label{
            display: inline-block;
            width: rem(220);
            text-align: right;
            font-size: rem(36);
            color: #ecf0f1;
        }
        input{
            @include height(rem(60));
            padding: rem(8) rem(16);
            border-radius: rem(8);
            color: #2c3e50;
            word-spacing: .2em;
            font-size: rem(32);
            outline: none;
            border: rem(2) solid #7f8c8d;
            &:focus{
                border: rem(2) solid #f39c12;
            }
        }
    }
    &__info{
        @include square(rem(28));
        position: relative;
        top: rem(10);left: rem(18);
        line-height: rem(40);
        display: inline-block;
        font-style: normal;
        font-size: rem(28);
        color: #ecf0f1;
        background-color: #f39c12;
        border: 1px solid #f39c12;
        transform: rotate(45deg);
        cursor: pointer;
        user-select: none;
        &::after{
            content: '?';
            position: absolute;
            top:50%;left:50%;
            transform: rotate(-45deg) translate(45%, -47%);
            
        }
    }
    &__submit{
        position: absolute;
        bottom:0;
        @include height(rem(85));
        width: 100%;
        input{
            @include square(100%);
            background: #1abc9c;
            border: none;
            font-size: rem(32);
            color: #ecf0f1;
            outline: none;
        }
    }
}